.home-nosotros {
    background-image: url(../img/background-home-nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.section-productos {
    background-image: url(../img/background-productos.jpg);
    background-size: cover;
}

.infraestructura-contacto {
    background-image: url(../img/background-infraestructura-contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}